html, body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background: #fff;
	color: #000;
}

body {
	padding: 2em 5% 2em;
	margin: 0 auto;
	max-width: 80em;
}

body > h1 {
	text-align: center;
	margin-top: 0;
}

body > nav summary {
	list-style-type: none;
	padding: 1em;
}

body > nav {
	position: fixed;
	top: 0em;
	left: 0em;
}

body > nav details {
	background: #fff;
}

body > nav details[open] {
	background-color: #ccc;
	padding-bottom: 0.5em;
}

body > nav details[open] summary {
	padding-bottom: 0;
}

body > nav ul {
	padding: 0;
}

body > nav li {
	padding: 0;
	list-style-type: none;
}

body > nav li a {
	display: block;
	text-decoration: none;
	padding: 0.5em 1em 0.5em;
	color: black;
}

@media (hover: hover) {
	body > nav li a:hover {
		background-color: #aaa;
	}
}

*[id] {
	scroll-margin-top: 5em;
}
