- content_for :title, "JMP: Page Not Found"

- content_for :head do
	scss:
		body > p {
			text-align: center;
		}

markdown:
	There doesn't seem to be anything here. If you think something should be here, please [let us know](/faq#support).  Otherwise, you'll probably want to [visit our home page](/).
