markdown:
	# Bring your own number to JMP

	To bring your own US or Canadian number, you first need a temporary JMP number so we know JMP works for you. If you have a JMP number already, you can [use the bot](faq#bot) and send the command `lnp` to start the porting process. Otherwise, please get a temporary JMP number first and then return here once you have it.
