- content_for :title, "JMP: Pay for your account"

markdown:
	# Pay for your JMP account

	You can pay for your JMP account using [the bot](/faq#bot), try sending the `top up` or `alt top up` commands.

	You can see pricing information in [the FAQ](/faq#pricing).

	If you need help, please contact [support](/faq#support).
