markdown:
	Please check your Jabber client for a message to continue the registration process there.

	If you have not yet received a message, then your XMPP server (or client) may be preventing you from receiving text messages from phone numbers that are new to you. For details, see [the FAQ section on message blocking](../../faq#blocking). You may switch to a different XMPP server (perhaps from [our suggested servers list](../../suggested_servers.html)) by creating an account at one, then pressing Back and using your new JID instead. Or, press Reload to try sending the code to the same JID again.
